RewriteEngine On
RewriteRule ^(.*) - [E=BASE:%1]

RewriteRule ^danh-sach-tour/([a-zA-Z0-9_-]+).html$ tour_thuoc_dia_diem.php?diemden=$1
RewriteRule ^chi-tiet-tour/([a-zA-Z0-9_-]+).html$ chi_tiet_tour.php?tour=$1

