/*-------------------------STYLE HEADER--------------------------------*/
.nav-margin{
	margin-right:40px;
}
.border{
	width:50vw;
	display: inline-block;
	border-bottom: 1px solid white;
}

@-webkit-keyframes aitf {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

@font-face {
    font-family: fonttittle;
    src: url(../../Public/font/UTMThanhNhacTL.ttf);
}

.title h1 {
  color:white;
  font-size:7vw;
  font-family:fonttittle; 
  text-outline: 2px 2px #ff0000;

  /*letter-spacing: 0;
  padding: .25em 0 .325em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255,255,255,.5);


  background: url(../../Public/images/animated_text_fill.png) repeat-x;
  -webkit-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;


  -webkit-backface-visibility: hidden;*/

}

.nav-hover{
  text-decoration: none;
  color:white;
  
}

.nav-hover:hover{
  color:yellow;
}


.outer {
  margin: 50px;
}

.button {
  border: 1px solid white;
  border-radius: 50px;
  width: 200px;
  height: 30px;
  display: block;

  background: linear-gradient(to right, yellow 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
}

.button:hover {
  background-position: left bottom;
}

.text {
  text-align: center;
  font-size: 16px;
  line-height: 30px; 
  color: green;
  transition: all .2s ease-out;
  display: block;
}

.text:hover {
  font-weight: bolder;  
}


.search li input[type="text"]{
  margin-left: 20px; height: 35px
}

.search{
  width: 280px;opacity: 0.6;
}

.search li button{
  background-color:yellow; height: 38px; margin-top: -8px;
}
/*----------------------------END STYLE HEADER------------------------------ */