body{
    background-color: #f2f2f2;
}
/*-------------------------STYLE HEADER--------------------------------*/
.nav-main ul li{
  padding: 0px 30px 0px 30px;
}


.nav-hover{
  position: relative;
}

.nav-hover:after{
  content: '';
  position: absolute;
  width: 0; height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: red;
  transition: width .2s ease;
  -webkit-transition: width .2s ease;
}
 
.nav-hover:hover:after{
  width: 100%;
  left: 0;
  background: red;
}




.dropbtn {
    background-color: #f8f9fa;
    color: black;
    padding: 10px 0px 10px 0px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(1,0,0,0.6);
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}

.dropdown-content a {
     color:white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px dotted white;
}

.dropdown-content a:hover {color:red;}

.dropdown:hover .dropdown-content {
    display: block;
}

/*----------------------------END STYLE HEADER------------------------------ */

/*---------------------------- STYLE DAT TOUR------------------------------ */
.dattour{
  padding-top: 80px;
  padding-bottom: 80px;
  border: 1px solid red;
  background-image: url('https://travel.com.vn/Images/SlideShow/sl_180307_tour-30.4-1.5_1920-570_2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 65px;
}
.dattour form{
  border: 1px solid green;
  max-width: 480px;
  margin-left: 20px;
  padding: 15px;
  background-color: rgba(0,0,0,0.5);
}
.dattour form h3{
    text-transform: uppercase;
    color: #ff1212;
    font-size: 1.2em;
}
.dattour form label{
    color: #fff;
}
.dattour form > div{
    border-top: 1px dashed rgba(255,255,255,.2);
}
.dattour form > div div{
    margin-top: 5px;
}
.dattour .search-tour button{
    background-color: #c50000;
    color: #fff;
}
.datepicker-form{
    position: relative;
}
.datepicker-form ipnput{
    padding-right: 40px;
}
.datepicker-form i{
    position: absolute;
    right: 0;
    top: 42px;
    padding-right: 25px;
    font-size: 20px;
    
}
/*---------------------------- END STYLE DAT TOUR------------------------------ */


/*---------------------------- STYLE TOUR MOI NHAT ------------------------------ */
.tourmoinhat{
    border: 1px solid green;
    padding-bottom: 30px;
}
.tourmoinhat .news{
    margin-top: 20px;
}
.news{
/*    border: 1px solid red;*/
}
.news .thumb{
    overflow: hidden;
}
.news img{
  transition: all 0.5s;
  display: block;
  width: 100%;
  
}
.news img:hover{
  transform: scale(1.2);
}
.news .title{
    background-color: #fff;
    padding: 0 10px 5px;
}
.news .title a{
    text-decoration: none;
    font-size: 1.2rem;
    display: inline-block;
    padding: 5px 0;
    color: #c50000;
}
.news .title p{
/*    border: 1px solid red;*/
    font-size: 1.3rem;
    margin: 0;
    padding: 0;
    transition: all .5s;
/*    text-decoration: line-through;*/
}
/*
.news .title p span{
    text-decoration: overline;
    font-size: 1rem;
}
*/
.thongtin-tourmoinhat{
    border-top: 0.8px solid #c50000;
}
/*
.thongtin-tourmoinhat div[class="col-md-4"]{
    color: blue;
    text-align: right;
}
*/
/*---------------------------- END TOUR MOI NHAT------------------------------ */


/*---------------------------- STYLE TIN NOI BAT------------------------------ */

.main_tinnoibat{
  color:white;
  padding-top: 20px;
}
.centered {
    color:white;
    position: absolute;
    top: 40%;
    left: 55%;
    transform: translate(-50%, -50%);
    font-weight: bolder;
    width: 15em
}

.centered:hover{
  color:yellow;
}

.parent {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    float: left;
    display: inline-block;
    cursor: pointer;
}

.child {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.bg-one{
  background-image: url('../../public/images/tour_noi_bat/ngu-hanh-son.jpg');
}
.bg-true{
  background-image: url('../../public/images/tour_noi_bat/cu-lao-cham.jpg');
}
.bg-three{
  background-image: url('../../public/images/tour_noi_bat/rung-dua.jpg');
}

.parent:hover .child, .parent:focus .child {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.parent:hover .child:before, .parent:focus .child:before {
    display: block;
}

.parent:hover a, .parent:focus a {
    display: block;
}

.child:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(52,73,94,0.75);
}

.button-book{
  background-color: white;
  border-radius: 50px;
  color:#455FFB;
}
.button-book:hover{
  color:rgb(172,214,60);
}
/*----------------------------END STYLE TIN NOI BAT------------------------------ */

/*----------------------------STYLE TIN NOI TUC DU LICH------------------------------ */
.mainttdulich{
  margin-top: 30px; 
  margin-bottom: 30px;
  text-align: center;
}

.mainttdulich div{
  text-align:center;
}
.mainttdulich h2{
  color:#E60606;
}

.noidungttdulich h4{
  color:#E60606;
}

.noidungttdulich a{
  text-decoration: none;
  color: #FF703E;
  font-weight: bold;
}
.noidungttdulich a:hover{
  opacity: 0.5;
}
/*----------------------------END STYLE TIN NOI TUC DU LICH------------------------------ */

/*----------------------------STYLE DIEM DEN YEU THICH------------------------------ */
.titleddyeuthich h2{
  color:#C50000;
}
.titleddyeuthich{
  margin-top:30px;
  margin-bottom:30px;
}

.image:hover{
  opacity: 0.5;
}

.text-yeu-thich{
    position: absolute;
    top: 70%;
    left: 20%;
    transform: translate(-30%, -50%);
    color:#FD0303;
    font-size:20px;
    font-weight: bold;
    background-color:rgba(1,0,0,0.6);
}

.text-yeu-thich_02{
    position: absolute;
    top: 90%;
    left: 30%;
    transform: translate(-50%, -50%);
    color:white;
    font-size:15px;
    font-style: italic;
    border-top: 1px solid white;
    background-color:rgba(1,0,0,0.6);
}

.ndyeuthich{
  margin-bottom: 10px;

}
/*----------------------------END STYLE DIEM DEN YEU THICH------------------------------ */


/*----------------------------STYLE FOOTER------------------------------ */
.main-footer{
  background-color: #1D1C1C;
  color:white;
  margin-top:50px;
  padding: 30px; 
}

.tittle-footer{
  border-bottom:5px solid #D8D3D3;
}
.nd-footer ul{
  list-style-type:none; 
}
.nd-footer ul li a{
  text-decoration: none;
  color:white;
}

.nd-footer ul li a:hover{
  color:yellow;
}

.nd-footer ul li{
  margin-left: -35px;
}

.line-footer{
  border:1px solid #7D7B7B;
}

.img-footer{
  border-radius: 5px;
  margin-bottom: 10px;
}

.form-footer input[type=text]{
  background-color: #1D1C1C;
  float: left;
  width: 79%;
}

.form-footer button{
  background-color: #1D1C1C;
  float: left;
  color:white;
}
.form-footer button:hover{
  background-color: #7D7B7B;
}
/*----------------------------END STYLE FOOTER------------------------------ */

/*----------------------------STYLE CHI TIET TOUR------------------------------ */
.maincttour{
  margin-top: 100px;
  background-color:#EFEDED;
}
.maincttour div h3{
  padding: 10px;
}

 .carousel-inner img {
      width: 100%;
      height: 100%;
  }

  .btndattour input[type=submit]{
    width:100%;
    height: 100%;
    background-color: #c50000;
    color:white;
    font-size: 1.5em;
  }

  .btndattour input[type=submit]:hover{
    opacity: 0.6;
  }
/*----------------------------END STYLE CHI TIET TOUR------------------------------ */

/*----------------------------STYLE CHI TIET TIN TUC------------------------------ */
.maincttintuc{
  margin-top: 30px;
}

.maincttintuc h4{
  color:#D40202;
}

.maincttintuc img{
  width:100%;
  height:100%;
}

.maincttintuc a{
  text-decoration: none;
}

.noidungchitiettintuc{
  margin-top: 20px;
}

.tinkhac{
  margin-top: 30px;
}

.tinkhac h3{
  color:#EC9101;
}

.tinkhac ul li a{
  color:black;
}

.tinkhac div ul li a:hover{
  color:#F20000;
}





/*----------------------------END STYLE CHI TIET TIN TUC------------------------------ */

/*----------------------------STYLE TIM TOUR------------------------------ */
.maintimtour{
  margin-top:30px;
}

.ndtimtour{
  margin-top:30px;
}

.boxngay{
  background-color: #c50000;
  padding: 1px;
  color: white;
  font-size: 15px;
}
.boxngay span{
  font-weight: bold;
  font-size: 20px;
}

.dstimtour{
  background-color:#EAEAEA;
  padding: 10px;
}


.btnchitiettour{
  border-left:1px solid #D6D0D0;
  text-align: center; 
}

.btnchitiettour a{
  text-decoration: none;
  color:white;
}




.ribbon {
   position: absolute;
   right: -5px; top: -5px;
   z-index: 1;
   overflow: hidden;
   width: 75px; height: 75px; 
   text-align: right;
}
.ribbon span {
   font-size: 10px;
   color: #fff; 
   text-transform: uppercase; 
   text-align: center;
   font-weight: bold; line-height: 20px;
   transform: rotate(45deg);
   width: 100px; display: block;
   background: #79A70A;
   background: linear-gradient(#9BC90D 0%, #79A70A 100%);
   box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
   position: absolute;
   top: 19px; right: -21px;
}
.ribbon span::before {
   content: '';
   position: absolute; 
   left: 0px; top: 100%;
   z-index: -1;
   border-left: 3px solid #79A70A;
   border-right: 3px solid transparent;
   border-bottom: 3px solid transparent;
   border-top: 3px solid #79A70A;
}
.ribbon span::after {
   content: '';
   position: absolute; 
   right: 0%; top: 100%;
   z-index: -1;
   border-right: 3px solid #79A70A;
   border-left: 3px solid transparent;
   border-bottom: 3px solid transparent;
   border-top: 3px solid #79A70A;
}

.blue span {background: linear-gradient(#2989d8 0%, #1e5799 100%);}
.blue span::before {border-left-color: #1e5799; border-top-color: #1e5799;}
.blue span::after {border-right-color: #1e5799; border-top-color: #1e5799;}

/*----------------------------END STYLE TIM TOUR------------------------------ */

/*---------------------------- STYLE CAM NHAN KHACH HANG------------------------------ */
.maincamnhan{
  margin-top: 50px;
}

 .maincamnhan hr{
  width: 70%;
 }
/*---------------------------- END STYLE CAM NHAN KHACH HANG------------------------------ */